Package: com.thecasle.ccdark
Name: ccdark
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome adjustable dark control center tweak
Maintainer: the casle
Author: the casle
Section: Tweaks
