Package: com.codesquad.annoyance
Name: Annoyance
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Brings a pop-up every time icon is tapped. EVERY TIME.
Maintainer: CodeSquad
Author: The_Casle
Section: Tweaks
Version: 0.0.1
