Package: com.yourcompany.searchbar
Name: SearchBar
Depends: mobilesubstrate
Version: 1.3a
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mobile User
Author: Mobile User
Section: Tweaks
