Package: com.neinzedd9.timemover
Name: TimeMover
Depends: mobilesubstrate, preferenceloader, libactivator, ws.hbang.common
Pre-Depends: firmware (>= 10.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Resize and move the time and date on your lockscreen! Just use two fingers to pinch, zoom, and rotate.
Maintainer: NeinZedd9
Author: NeinZedd9
Section: Tweaks
Icon: file:///Library/PreferenceBundles/TimeMoverPreferences.bundle/icon@3X.png
