<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
    <key>cellClass</key>
    <string>HBImageTableCell</string>
    <key>height</key>
    <integer>173</integer>
    <key>icon</key>
    <string>banner.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.TimeMover</string>
			<key>key</key>
			<string>enableSwitch</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>PostNotification</key>
    	<string>NZ9TimeMoverPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.TimeMover</string>
			<key>key</key>
			<string>editSwitch</string>
			<key>label</key>
			<string>Edit Mode Enabled</string>
			<key>PostNotification</key>
    	<string>NZ9TimeMoverPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.TimeMover</string>
			<key>key</key>
			<string>fineTuneSwitch</string>
			<key>label</key>
			<string>Fine Tune Mode Enabled</string>
			<key>PostNotification</key>
    	<string>NZ9TimeMoverPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibrancy requires edit mode to be disabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.TimeMover</string>
			<key>key</key>
			<string>vibrantSwitch</string>
			<key>label</key>
			<string>Vibrancy Enabled</string>
			<key>PostNotification</key>
    	<string>NZ9TimeMoverPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.TimeMover</string>
			<key>key</key>
			<string>disableScrollingSwitch</string>
			<key>label</key>
			<string>Disable Lockscreen Scrolling</string>
			<key>PostNotification</key>
    	<string>NZ9TimeMoverPreferencesChangedNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset</string>
			<key>label</key>
			<string>Reset Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
    <key>big</key>
    <true/>
    <key>cellClass</key>
    <string>HBTwitterCell</string>
    <key>height</key>
    <integer>56</integer>
		<key>action</key>
		<string>twitter</string>
    <key>label</key>
    <string>NeinZedd9</string>
    <key>user</key>
    <string>neinzedd9</string>
	</dict>
	</array>
	<key>title</key>
	<string>TimeMover</string>
</dict>
</plist>
